
@media screen and (max-width: 450px) {
    header {
        width: 50vh;
    }
}

header {
    height: 100vh;
}

nav {
    background: transparent;
    box-shadow: none;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: #A5D7E8;
}

.navbar-toggler {
    border: 1px solid #A5D7E8;
}



/* Make h1 move to the center right of the section */
h1 {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(0%, -150%);
    color: white;
    font-size: 3rem;
    width: 300px;
}