header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
   /*  background: #413589; 
    opacity: 90%;*/
    box-shadow: none;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: #A5D7E8;
}

.navbar-toggler {
    border: 1px solid #A5D7E8;
}

.header-Heading {
    font-size: 6rem;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .header-Heading {
        font-size: 4rem;
    }
}