
@media screen and (max-width: 450px) {
    header {
        width: 50vh;
    }
}

header {
    /* global 94%+ browsers support */
    background:linear-gradient(150deg, rgba(68, 48, 140, 1) 1%, rgba(50, 75, 127, 1) 37%, rgba(63, 142, 157, 0.86) 65%, rgba(165, 215, 232, 1) 91%);
    
    height: 100vh;
}

nav {
    background: transparent;
    box-shadow: none;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: #A5D7E8;
}

.navbar-toggler {
    border: 1px solid #A5D7E8;
}



/* Make h1 move to the center right of the section */
h1 {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(0%, -150%);
    color: white;
    font-size: 3rem;
    width: 300px;
}