.skills {
    height: 700px;
}

.skill-card {
    width: 100px;
    border: none;
    margin: 2rem auto;
    transition: all 0.3s ease-in-out;
}

.skill-card:hover {
    transform: scale(1.2);
}

.skill-image {
    width: 100px;
    height: 70px;
    margin: 0 auto;
}

.skill-title {
    padding-top: 1rem;
    font-size: 1rem;
}