.about-me {
    height: 700px;
    background:linear-gradient(169deg, rgba(118, 177, 191, 1) 48%, rgba(165, 215, 232, 1) 58%, rgba(66, 42, 150, 1) 84%, rgba(50, 75, 127, 1) 100%);
    color: #fff;
    padding-top: 3rem;
}

.about-me p {
    padding: 2rem 1rem;
}

.about-me img{
    width: 200px;
    border-radius: 10%;
}