.projects {
    padding: 2rem 0;
}

.project-card {
    position: relative;
    color: #fff;
    width: 350px;
    margin: 2rem auto;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden; 
}

.project-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3rem 40px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

.project-card:hover .project-hover {
    opacity: 1;
}

@media screen and (max-width: 450px) {
    
    .project-hover {
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        height: 70%;
        padding: 2.5rem 40px;
        opacity: 1;
        transition: 0.5s ease;
        background-color: rgba(0, 0, 0, 0.8);
    }

}